killfeed {
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(20px);
    color: rgba(216, 208, 208, 0.952);

    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    bottom: 2%;
    border-radius: 15px;
    width: 140px;
    height: 80px;

    font-family: Poppins;
    font-weight: bold;
    font-size: 32px;
}

killfeedentry {
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(20px);
    color: rgba(216, 208, 208, 0.952);

    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    bottom: 2%;
    border-radius: 15px;
    width: 140px;
    height: 80px;

    font-family: Poppins;
    font-weight: bold;
    font-size: 32px;
}
