killfeed {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(1,1,1,0.15) );
    color: white;
    position: absolute;
    right: 0%;
    top: 1%;
    width: 650px;
    height: 200px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

killfeedentry {
    background-color: rgb(89, 89, 101, 0.30);
    backdrop-filter: invert(7%);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 7px;
    padding-left: 7px;
    width: auto;
    height: auto;
    min-height: 1%;
    opacity: 1;
    margin-right: 12px;
    margin-top: 2px;
    border: 2px rgba(255,255,255, 0.03);
    transition: transform 0.2s ease-in;
    text-stroke: 1px rgb(50,50,50);

    &.me {
        color: gold;
        font-size: 42px;
    }

    &:intro {
        transform: translateX(100);
    }

    &:outro {
        opacity: 0;
        transition: all 0.6s ease-in;
    }
}
