@using System;
@using Sandbox;
@using Sandbox.UI;
@using Breakfloor;

@namespace Breakfloor.UI
@inherits Panel

@code
{
    public IClient Client { get; set; }

    protected override int BuildHash()
    {
        return HashCode
        .Combine(Time.Now);
    }
}

@{

    var color = BreakfloorGame.GetTeamColor((Team)Client.GetInt("team"));
    var lightColor = color.WithAlpha(0.25f);
}

<root>
    <div class="pfp" style="background: url( avatar:@Client.SteamId ); border: 1px @color.Rgb"></div>
    <label class="name" style="color:@(lightColor.Rgb)">@(Client.Name)</label>
    <div class="score">
        <ScoreSlot @Indicator="K" @Amount=@(Client.GetInt("kills").ToString())></ScoreSlot>
        <div style="width: 10px;"></div>
        <ScoreSlot @Indicator="D" @Amount=@(Client.GetInt("deaths").ToString())></ScoreSlot>
    </div>
</root>

<style>
    ScoreboardEntry {
        display: flex;
        margin: 14px;
        flex-direction: row;
        width: auto;
        height: auto;

        .pfp {
            width: 63px;
            height: 63px;
            flex-shrink: 0;
        }

        .name {
            font-family: Poppins;
            font-weight: 400;
            text-align: center;
            align-self: center;
            font-size: 28px;
            margin-left: 15px;
        }

        .score {
            display: flex;
            flex-direction: row;
            width: 14%;
            margin-left: auto;
            margin-right: 9px;
        }
    }
</style>