@using System;
@using Sandbox;
@using Sandbox.UI;
@using Breakfloor;

@namespace Breakfloor.UI
@inherits Panel

@code
{
	public IClient Client { get; set; }
}

@{

	var color = BreakfloorGame.GetTeamColor((Team)Client.GetInt("team"));
	var lightColor = color.WithAlpha(0.25f);
}

<root style="background-image: linear-gradient(to left, @lightColor.WithAlpha(0.1f).Rgba, rgba(0, 0, 0, 0));">
	<div class="pfp" style="background: url( avatar:@Client.SteamId ); border: 1px @color.Rgb"></div>
	<label class="name" style="color:@(lightColor.Rgb)">@(Client.Name)</label>
</root>
