@using System;
@using Sandbox;
@using Sandbox.UI;
@using Breakfloor;
@using System.Collections.Generic;

@namespace Breakfloor.UI
@attribute [StyleSheet("/UI/Scoreboard/Scoreboard.scss")]
@inherits Panel

@code
{
	protected override int BuildHash()
	{
		return HashCode.Combine(Game.Clients.Count);
	}

	public override void Tick()
	{
		base.Tick();
		SetClass("active", Input.Down(InputButton.Score));
	}
}

<root>
	<inner>
		<left>
			<label class="team-header" style="color:red;">RED</label>
			@{
				foreach (var client in Game.Clients)
				{
					if (client.GetInt("team") != (int)Team.RED)
						continue;

					<ScoreboardEntry Client=@client>
					</ScoreboardEntry>
				}
			}
		</left>
		<seperator></seperator>
		<right>
			<label class="team-header" style="color:blue;">BLUE</label>
			@{
				foreach (var client in Game.Clients)
				{
					if (client.GetInt("team") != (int)Team.BLUE)
						continue;

					<ScoreboardEntry Client=@client>
					</ScoreboardEntry>
				}
			}
		</right>

	</inner>
</root>