Scoreboard {
    background-color: rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(3px);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms ease-in-out;

    &.active {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
    }

    inner {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0));
        border-radius: 8px;
        width: 900px;
        height: 800px;

        .team-header {
            font-family: Poppins;
            font-weight: bold;
            text-shadow: 1px 2px 3px black;
            align-self: center;
            font-size: 64px;
        }

        left {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        seperator {
            align-self: center;
            width: 3px;
            height: 90%;
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0.521), rgba(0, 0, 0, 0));
        }

        right {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
    }

    ScoreboardEntry {
        display: flex;
        margin: 15px;
        flex-direction: row;
        width: auto;
        height: 64px;

        .pfp {
            width: 64px;
            height: 64px;
        }

        .name {
            font-family: Poppins;
            font-weight: 450;
            text-shadow: 1px 2px 3px black;
            font-size: 42px;
        }

        .score {
            display: flex;
            flex-direction: row;
            width: 15%;
            margin-left: auto;
            margin-right: 10px;
        }
    }
}
