.round-timer {
    // background-color: rgba(255, 255, 255, 0.082);
    // background-color: rgba(0, 0, 0, 0.37);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0));
    // backdrop-filter: blur(20px);
    color: rgb(211, 205, 205);

    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 2%;
    // border-radius: 15px;
    width: 215px;
    height: 80px;

    margin-left: -107px;

    font-family: Poppins;
    font-weight: thin;
    font-size: 65px;
}
